<div class="mt-search-popup">
    <div class="mt-holder">
        <a href="#" class="search-close"><span></span><span></span></a>
        <div class="mt-frame">
            <form action="/products/search" method="GET">
                <input type="search" name="search" placeholder="Tìm kiếm...">
            </form>
        </div>
    </div>
</div>